[Unit]
Description=Renew RITlug GitLab web cert
Requires=network.target
After=multi-user.target

[Service]
Type=simple
ExecStart=/bin/bash /usr/local/bin/gitlab-renew-cert
